<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=database.db;"
         providerName="Microsoft.Data.Sqlite" />
  </connectionStrings>

  <appSettings>
    
    <!-- Default dollar kursi (agar CurrencyRates jadvali bo'sh bo'lsa ishlatiladi) -->
    <add key="DefaultDollarRate" value="12500"/>

    <!-- Admin login (keyinchalik ishlatamiz) -->
    <add key="AdminUsername" value="new_admin"/>
    <add key="AdminPassword" value="new_password"/>
    <add key="SellerUsername" value="seller"/>
    <add key="SellerPassword" value="1234"/>

    <!-- Backup papka -->
    <add key="BackupPath" value="Backup\"/>

  </appSettings>

</configuration>
